<!DOCTYPE html>

<html>
<head>
	<title> Django Practice</title>
</head>

<body>
	<header>
		<h1><a href="/">Django Tutorial Blog</a></h1>
	</header>

	<article>
		<time>published 04/20/2021</time>

		<h2><a href="">Test Post</a></h2>

		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

	</article>

	<article>
		<time>published 04/20/2021</time>

		<h2><a href="">Second Test Post</a></h2>

		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

	</article>
	
</body>
</html>